name: acceptance-test

on:
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/acceptance-test.yaml
      - acceptance_test/**
  push:
    branches:
      - master
    paths:
      - .github/workflows/acceptance-test.yaml
      - acceptance_test/**

jobs:
  test-makefile:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - run: make -C acceptance_test check
      - run: make -C acceptance_test
        env:
          OIDC_ISSUER_URL: https://accounts.google.com
          OIDC_CLIENT_ID: REDACTED.apps.googleusercontent.com
          YOUR_EMAIL: REDACTED@gmail.com
      - run: make -C acceptance_test delete-cluster
      - run: make -C acceptance_test clean
