name: system-test

on:
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/system-test.yaml
      - system_test/**
      - pkg/**
      - go.*
  push:
    branches:
      - master
    paths:
      - .github/workflows/system-test.yaml
      - system_test/**
      - pkg/**
      - go.*

jobs:
  system-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      # for certutil
      # https://packages.ubuntu.com/xenial/libnss3-tools
      - run: sudo apt update
      - run: sudo apt install -y libnss3-tools
      - run: mkdir -p ~/.pki/nssdb

      - run: echo '127.0.0.1 dex-server' | sudo tee -a /etc/hosts

      - run: make -C system_test -j3

      - run: make -C system_test logs
        if: always()
